body {
    margin: 0%;
    padding: 0%;
    background: linear-gradient(-45deg,#005397, #fd007e);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position-x: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.container{
    font-family: Segoe ui variable display semibold, sans-serif;
    color: #fff;
    text-align: center;
}



header {
    image-resolution: 100x100;
    image-rendering: pixelated;
    text-align: left;
}


h1 {
    text-align: center;

}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
